* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  background-color: rgb(254, 252, 249);
}

.welcome-PG {
  background-color: white;
  background-image: url(img/wall6.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.humburger {
  background-color: white;
  height: 15vh;
  opacity: 0.85;
}

.welcome {
 background-color:rgb(254, 252, 249);
}

.humburger-2 {
  opacity: 0.95;
}

.humburger-2 img,
.humburger img {
  z-index: 1;
  width: 30px;
  height: 25px;
  margin: 20px 30px;
}

.head-contain {
  background-image: url(img/wall7.png);
}

.welcome-msg-2 {
    background-size: cover;
    opacity: 0.95;
    padding-top: 1px;
    text-align: center;
}

.about-description {
    margin: 20px 10px;
    line-height: 25px;
    border: 2px solid rgb(196, 196, 177);
    background: #fff;
}

.welcome-msg-2 h1 {
    padding-top: 20px;
  color: rgb(186, 61, 61);
}

.welcome-msg-2 p {
  color: rgb(186, 61, 61);
  font-size: 20px;
}

.welcome-msg {
  background-size: cover;
  background-color: #fff;
  opacity: 0.95;
  padding-top: 1px;
}

.welcome-msg p{
  color: rgb(186, 61, 61);
  font-size: 20px;
  margin: 20px;
}

.welcome-msg h1 { 
  color: rgb(186, 61, 61);
  margin-left: 20px;
  font-weight: 600;
}

.description {
    margin: 10px;
    line-height: 25px;
    border: 2px solid rgb(196, 196, 177);
    background: #fff;
}

.about-description p,
.description p {
    margin: 10px;
}

.setting {
    margin: 10px;
}

.label h2{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.label {
    background-color: rgb(51, 51, 51);
}
.line {
    width: 50px;
    background-color: rgb(186, 61, 61);
    height: 4px;
    border-radius: 5px;
    margin: 5% 45%;
}

.agenda-icon img{
    width: 50px;
    height: 50px;
}

.Prog-outline {
    margin: 10px;
    color: #fff;
    height: 90px;
    display: flex;
    background-color: rgb(85, 85, 85);
}

.outline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
}

.agenda-label {
    margin: 4% 10%;
    color: rgb(186, 61, 61);
}

.join-btn{
  display: flex;
  justify-content: center;;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.join {
    width: 300px;
    height: 70px;
    background-color: rgb(186, 61, 61);
}

.join h3 {
    text-align: center;
    color: #fff;
    padding-top: 25px;
}

.speaker-card {
    padding-bottom: 2%;
}

.header {
    padding-top: 20px;
    color: #000;
    text-align: center;
}

.card-img img {
  width: 90px;
  height: 100px;
}

.speaker {
    display: flex;
    margin: 4%;
}

.card-detail {
    padding-left: 10%;
}

.divider {
    width: 30px;
    background-color: rgb(136, 132, 132);
    height: 1px;
    border-radius: 5px;
    margin: 3% 0;
}

.about {
    color: rgb(186, 61, 61);
    margin: 5px 0;
    font-style: italic;
}

.more-container {
    border: 1px solid;
    margin: 2%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-icon img {
    width: 50px;
    height: 30px;
}

.more-text h3 {
    text-align: center;
    align-items: center;
}

.contact-text p {
    font-size: 14px;
    line-height: 25px;
}

.main {
    text-align: center;
}

.contact-email u {
    font-weight: bold;
}

.section-2 {
    background-color: #fff;
    margin: 50px 0;
}

.header-2 {
    font-size: 20px;
    line-height: 35px;
    padding: 30px 20px 5px;
}

.line-3 {
    width: 200px;
    background-color: rgb(136, 132, 132);
    height: 1px;
    border-radius: 5px; 
}

.logo-img img {
  width: 100px;
  height: 100px;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    height: 170px;
    border: 1px solid;
}

.text-container h1{
  font-size: 35px;
  letter-spacing: -1px;
}

.text-container h2 {
    font-size: 30px;
    letter-spacing: -2px;
}